body {
  font-family: "Lato", sans-serif;
  background: #e3fdfd;
}
p {
  font-size: larger;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0%;
}
h3 {
  font-size: 16px;
}
ul {
  margin: 0%;
  padding: 0%;
}
li {
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.container {
  display: block;
  margin: 30px auto;
  height: 60%;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}

.date-time-field {
  font-size: 16px;
  margin-bottom: 5%;
}
.day {
  font-weight: 700;
}
.temp {
  font-weight: 300;
}
.current-weather-element img {
  margin-right: 20px;
}
.feels-like-field {
  font-size: 16px;
}
.description {
  text-transform: capitalize;
}
.active {
  color: black;
  cursor: default;
  font-weight: bold;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}
.weather-forecast h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.weather-forecast-temperature {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
