body {
  font-family: "Lato", sans-serif;
  background: #e3fdfd;
}
p {
  font-size: larger;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0%;
}
h3 {
  font-size: 16px;
}
ul {
  margin: 0%;
  padding: 0%;
}
li {
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.container {
  display: block;
  margin: 30px auto;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.date-time-field {
  font-size: 16px;
  margin-bottom: 5%;
}
.day {
  font-weight: 700;
}
.temp {
  font-weight: 300;
}
.current-weather-element img {
  margin-right: 20px;
}
.feels-like-field {
  font-size: 30px;
}
.description {
  text-transform: capitalize;
  font-weight: bold;
}
